.DS_Store
*.DS_Store
*/.DS_Store
**/.DS_Store
*/*/.DS_Store
*/*/*/.DS_Store
.idea
/*/node_modules
/lab5-6/config.js
/lab5-6/config.json
/lab4/groupmateTables
/lab4/argon2.csv
/lab4/top100.txt
/lab4/top100k.txt
/lab4/md5.csv
/lab5-6/config_aws.json
